@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  background-image: linear-gradient(to right, #ffd5f5, lightblue);
  min-height: 100vh;
}

.wrapper{
  @apply max-w-[1200px] mx-auto px-2 xl:px-0
}


::-webkit-scrollbar{
  display: none;
}